{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileBody" : "/interface/chests/storagedrive.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [178, 200]
    },
    "title" : {
      "type" : "label",
      "value" : "",
      "hAnchor" : "left",
      "position" : [29, 262],
      "zlevel" : -10
    },
    "subTitle" : {
      "type" : "label",
      "value" : "Storage",
      "hAnchor" : "left",
      "position" : [29, 252],
      "zlevel" : -10
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [4, 45],
      "dimensions" : [10, 10],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png",
      "visible" : false, 
      "zlevel" : -5 
    }
  },
 "scripts" : [ "/interface/chests/improvedcontainergui.lua" ]
}
